
@media   (min-width: 1200px) {
  .interface1 {
 
  flex-direction: column;
  max-width: 700px;
  justify-content: center;
  margin-top: -150px;
   align-items: center;
  z-index: 1;
  margin: 0;
}
.setadown {
  margin-top: 55px;
  margin: 0;
   align-items: center;
  justify-content: center;
  margin-right: 45px;

}
.setadown img{
  max-width: 35px;
  
}
  
.topo-site {
  margin-bottom: -25px;
  color: #eee;
}
.topop {
  display:flex
  align-items: center;
  flex-direction: flex;

  margin-bottom: 25px;
 justify: spacebetwen;
}
.topop p{
 font-size: 102%;
  margin-left: -205px;
 
}
.topop img {
    max-width: 25px;
   cursor: pointer;
   
}
.pdown {
  font-size: 12px;
  margin: 0;

}

.dev {
  font-size: 360%;
  margin-top: -45px;
  margin-right: 48%;
}
.dev2 {
   font-size: 345%;
  margin-top: -86px;
}
.titulo {
  color: #eee;;
}


.minhasespecialidades {
display: flex;
  flex-wrap: wrap; /* Permite que as divs quebrem de linha */
  color: #eee;
  gap: 20px; /* Espaçamento entre as divs */
   display: flex;
  flex-direction: row; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 100%; /* ou ajuste conforme necessário */
  max-width: 700px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
}


/* Ajustar as imagens das divs de projetos */
.interface2 {
 display: flex;
  flex-wrap: wrap; /* Permite que as divs quebrem de linha */
  color: #eee;
  gap: 20px; /* Espaçamento entre as divs */
   display: flex;
  flex-direction: row; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 100%; /* ou ajuste conforme necessário */
  max-width: 700px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
  
}

.projeto1 {
    display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}
.projeto1 {
    display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
} 
.projeto2 {
  display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}
.projeto3 {
  display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}





.oculto {
  margin-bottom: 20px;
  padding: 0 10px;
  display: none;
}

.ocultar {
  display: none;
}

.expande {
  
  display:block;
 
}

   .vejabutt {
    background: none;
    border: none;
    cursor: pointer;
    color:  #20272F;
   }


.descript {
   
  flex-direction: column; /* Alinha os itens verticalmente */
  color: #eee;
  width: 800px; /* Ajuste conforme necessário */
  height: 300px;
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
  
  padding: 20px; /* Adicione espaçamento interno */
}

.img-rodape-site {
  
  align-items: center;
  
}
.img-rodape-site img{

  align-items: center;
  
}
.titulodes {
font-size: 26px;


}
.textodes {
  font-size: 12px;
  max-width: 450px;
  
}
.desdes {
  font-size: 12px;
  color: #eee;
}
.bt-contato img{
 max-width: 10px;
}
.bt-contato button {
  color: #eee;
  padding: 5px 3px;
  width: 130px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #eee; /* Cor da borda azul */
  background-color: hsla(241, 85%, 2%, 0.68); /* Adicione cor se necessário */

  border-radius: 30px;
  cursor: pointer;

  filter: brightness(1);
}

.bt-contato button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.sobre {
  display: flex;

  max-width: 550px;
  width: 900px;
  flex-direction: flex;
  align-items: flex;
  text-align: center;
  padding: 20px;
}

.sobre img {
  width: 170px;
  border-radius: 115px;
}


/* Contêiner do texto e da imagem */
.topo-do-site {
 display: flex;
  
  justify-content: center; /* Alinha as divs à esquerda */
  gap: 60px; /* Espaçamento entre as divs */
  flex-direction: column; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 1350px; /* ou ajuste conforme necessário */

  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 20px;
  width: 100%;
    height: 100vh;
    background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("background.svg"); 
  
}

}








































































































/* Ajustes para telas menores */
@media  (max-width: 1200px) {
  

html, body {
    overflow-x: hidden;
    width: 100%;
}


 .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
    [data-aos^="fade"][data-aos^="fade"],
    [data-aos^="zoom"][data-aos^="zoom"] {
        opacity: 1 !important;
    }
    [data-aos="zoom-in"] {
        transform: scale(1) !important;
    
}




  

  .interface2 {
   display: column;
  color: #eee;;
  
  gap: 20px; /* Espaçamento entre as divs */
 
  flex-direction: column; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 90%; /* ou ajuste conforme necessário */
  max-width: 700px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  .topo-site {
 color: #eee;;
  margin-bottom: -25px;
}
.topop {
  display:flex
  align-items: center;
  flex-direction: flex;

  margin-bottom: 25px;
 justify: spacebetwen;
}
.topop p{
 font-size: 10px;
margin-left: -65px;
}
.topop img {
    max-width: 18px;
   cursor: pointer;
   
}
.pdown {
  font-size: 12px;
  margin: 25px;
}

.dev {
  font-size: 50px;
  margin-top: -35px;
  margin-left: -65px;


}
.titulo {
  color: #eee;;
}

.setadown {
  margin-top: 55px;
  margin: 0;
   align-items: center;
  justify-content: center;


}
.setadown img{
  max-width: 35px;
  
}
.dev2 {
   font-size: 60px;
  margin-top: -65px;
  
}
.especialidades {

}
.minhasespecialidades {
  color: #eee;;
  display: flex;
  flex-wrap: wrap; /* Permite que as divs quebrem de linha */
  justify-content: flex-start; /* Alinha as divs à esquerda */
  gap: 20px; /* Espaçamento entre as divs */
   display: flex;
  flex-direction: row; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 100%; /* ou ajuste conforme necessário */
  max-width: 600px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
}  
.interface1 {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  margin-top: 30vh;

 
}
.descript {
 display: flex;
  flex-wrap: wrap; /* Permite que as divs quebrem de linha */
  justify-content: flex-start; /* Alinha as divs à esquerda */
  gap: 20px; /* Espaçamento entre as divs */
   display: flex;
  flex-direction: row; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 100%; /* ou ajuste conforme necessário */
  max-width: 600px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
  color: #eee;;
}

.img-rodape-site {

  align-items: center;
  
}
.img-rodape-site img{
  
  align-items: center;

}
.titulodes {
font-size: 26px;

}
.textodes {
  font-size: 12px;
}
.desdes {
  font-size: 12px;
}
.bt-contato img{
 max-width: 10px;
}
.bt-contato button {
  color: #eee;
  padding: 5px 3px;
  width: 130px;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid #eee; /* Cor da borda azul */
  background-color: hsla(241, 85%, 2%, 0.68); /* Adicione cor se necessário */

  border-radius: 30px;
  cursor: pointer;

  filter: brightness(1);
}

.bt-contato button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.sobre {
  display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;

  padding: 20px; /* Adicione espaçamento interno */
}


.img-rodape-site {
  margin-left: 65px;
   width: 180px;
     
  border-radius: 115px;
  align-items: center;
  
}

/* Contêiner do texto e da imagem */
.topo-do-site {
  margin: 0;
  border-radius: 5px;
  
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
  
  display: flex;
  justify-content: spacebetwen;
 

  flex-direction: column;
  align-items: center;  /* Centraliza os itens */
    /* Alinha o texto à esquerda */

  width: 100%;
}
  
  /* Ajustar as imagens das divs de projetos */
.interface2 {
 display: flex;
  flex-wrap: wrap; /* Permite que as divs quebrem de linha */
 color: #eee;;
  gap: 20px; /* Espaçamento entre as divs */
   display: flex;
  flex-direction: row; /* ou 'row', dependendo do layout */
  justify-content: center;
  align-items: center;
  width: 100%; /* ou ajuste conforme necessário */
  max-width: 700px; /* Exemplo de limite de largura */
  margin: 0 auto; /* Centraliza horizontalmente */
}
.projeto1,.projeto2,.projeto3 {
 
 
}
.projeto1 {
    display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}
.projeto1 {
    display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
} 
.projeto2 {
  display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}
.projeto3 {
  display: flex; /* Garante que os conteúdos internos sejam flexíveis */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: flex-start; /* Alinha o conteúdo à esquerda */
  width: 250px; /* Ajuste conforme necessário */
  text-align: left; /* Alinha o texto à esquerda */
  border-radius: 30px;
  
  padding: 20px; /* Adicione espaçamento interno */
}
.sobre img {
  width: 100px;
  border-radius: 115px;
}


.oculto {
  margin-bottom: 20px;
  padding: 0 10px;
  display: none;
}

.ocultar {
  display: none;
}

.expande {
  
  display:block;
 
}

   .vejabutt {
    background: none;
    border: none;
    cursor: pointer;
    color:  #20272F;
   }

 /* Contêiner do texto e da imagem */
.topo-do-site {
 

    height: 800px;
    background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("background.svg"); 
  
}

}
  