/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, white, #4EC5F1);
  min-height: 100vh;  /* Use min-height para garantir que o gradiente cubra toda a altura */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, background 0.3s;
}

.trilho {
  width: 40px;
  height: 20px;
  margin-top: 5px;
  background-color: #20272F;
  margin-left: -5%;
  border-radius: 150px;
  position: relative;
  cursor: pointer;
}

.trilho .indicador {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eee;
    transform: scale(.9);
    position: absolute;
}

.trilho.light {
  background-color: #eee;
}

.trilho.light .indicador{
  left: 20px;
  background-color: #20272F;

}
body.light {
  background: linear-gradient(to right, #20272F, hsl(228, 83%, 16%)); /* Gradiente para o tema escuro */
}
body.light h1 {
  color: #eee;
}
body.light h2 {
  color: #eee;
}


body.light p {
  color: #eee;
}
body.light  button{
  color: #20272F;
  background-color: #eee;
}


body.light h4 {
   color: #eee;
}


h2.titulo {

  font-size: 30px;
}


.top-bar {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}



.menu-desktop ul {
  list-style: none;
  display: flex;
  justify-content: center;  /* Centraliza os itens do menu */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.menu-desktop ul li {
  margin: 0 10px;
}

.menu-desktop ul li a {
  text-decoration: none;
  color: #20272F;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.menu-desktop ul li a:hover {
  color: grey;
  border-radius: 5px;
}

/* Contêiner do texto e da imagem */
.topo-do-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.bt-contato button {
  color: #fff;
  padding: 8px 20px;
  margin-top: 3%;
  font-size: 18px;
  font-weight: 600;
  background-color: #20272F;;
  border: 0;
  border-radius: 30px;
  cursor: pointer;

  filter: brightness(1);
}

.bt-contato button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* Posicionamento da imagem */
.img-topo-site {
  max-width: 40%;
  margin-bottom: 20px;
}

.topo-do-site h1 {
  font-size: 2.5em;
}

.topo-do-site h1 span {
  color: #4EC5F1;
  font-size: 35px;
}

.topo-do-site .txt-topo-site p {
  color: #000;
  margin: 20px 0;
}

.img-topo-site img {
  width: 80%;
  position relative;
  margin-left: 80%;
  height: auto;
  border-radius: 50px;
  
 
}

.img-topo-site img:hover {
  cursor: pointer;
 
}

/* Ajustes para telas menores */
@media and screen (max-width: 1200px) {
  
  [data-aos] {
     pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }
  .topo-do-site {
    flex-direction: column;
    align-items: center;
  }

  .img-topo-site img {
    max-width: 100%;
  }

  .interface2 {
    text-align: center;
    flex-direction:column;
    margin: 0 auto;
  }
}



/* Cabeçalho */
header {
  width: 100%;
  padding: 20px 4%;
  display: flex;
  justify-content: center;
  
}

header a {
  color: #fff;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 10px;
  }
}

/* ESPECIALIDADES */
.interface1 {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 4%;
  z-index: 1;
  
}
  
.jslogo,
.htmllogo,
.logocss,
.logoreact,
.nodelogo,
.javalogo,
.gitlogo,
.pylogo,
.typelogo {
  cursor: pointer;
  width: 8%; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção */
  margin: 10px;
}

.especialidades {
  padding: 20px;
  margin-top: 20px;
}

.especialidades-box {
  margin: 20px;
  display: inline-block;
  width: 250px;
  text-align: center;
 
}

.minhasespecialidades {
  display: flex;
  max-width: 700px;
  margin: 4%;
  z-index: 1;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}



section.especialidades {
  text-align: center;
  padding: 40px 4%;
}

.especialidades-box i {
  font-size: 50px;
  color: #a57bff;
  margin-bottom: 15px;
}

.especialidades-box h3 {
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
section.projetos {
  text-align: center;
  padding: 40px 4%;
}

.proj {
  margin-bottom: -2%;
}
/* Ajustar as imagens das divs de projetos */
.interface2 {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha */
  flex-direction: row; /* Coloca os itens em linha */
  max-width: 700px; /* Limita a largura máxima */
  margin: 4%;
  z-index: 1;
  padding: 20px;
  align-items: flex-start; /* Alinha os itens no início */
  justify-content: center; /* Centraliza o conteúdo */
  gap: 2px; /* Espaçamento entre os itens */
}

.projeto1, .projeto2, .projeto3 {
  flex: 1 1 calc(29% - 3px); /* Itens ocuparão cerca de 50% da largura, ajustando conforme necessário */
  margin: 10px;
  border-radius: 5px;
 
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
  text-align: left; /* Alinha o texto à esquerda */
  display: flex;
  justify-content: spacebetwen;
  margin: 15px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;  /* Centraliza os itens */
  text-align: left;  /* Alinha o texto à esquerda */
  margin-bottom: 20px;
  width: 100%;
}

.projeto2 img {
  margin-bottom: 10px;
}
.projeto1 img {
  margin-bottom: 20px;
}



.projeto1 img, .projeto2 img {
  width: 80%;
  height: auto;

  border-radius: 5px;
}

.projeto3 img {
 width: 80%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 13px;

}

.projeto1:hover, .projeto2:hover, .projeto3:hover {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
 

}


.oculto {
  margin-bottom: 20px;
  padding: 0 10px;
  display: none;
}

.ocultar {
  display: none;
}

.expande {
  
  display:block;
 
}

   .vejabutt {
    background: none;
    border: none;
    cursor: pointer;
    color:  #20272F;
   }




 .gitbut{
  color: #eee;
  padding: 8px 15px;
  font-size: 60%;
  font-weight: 600;
  background-color: #20272F;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  filter: brightness(1);
  margin-top: 10px;
  align-self: flex-start;  /* Alinha botões à esquerda */
}


 .gitbut:hover {

  transform: scale(1.05);
  filter: brightness(1.2);
}


body.light .vejabutt {
   color: #eee;
   border: 0;
   background: none;
}

 .gitbut.light{
  color: #eee;
  padding: 8px 15px;
  font-size: 70%;
  font-weight: 600;
  background-color: #20272F;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  filter: brightness(1);
  margin-top: 10px;
  align-self: flex-start;  /* Alinha botões à esquerda */
}


 .gitbut:hover.light {

  transform: scale(1.05);
  filter: brightness(1.2);
}
